*~
*.trs
*.o
*.a
*.lo
*.so
*.db
*.la
*.exe
*.dll
.deps
.libs
.dirstamp
*.pc
*.log
*.out
autom4te.cache
stamp-h1
libtool
Makefile
Makefile.in
autom4te.cache
aclocal.m4
compile
configure
depcomp
install-sh
missing
test-driver
ltmain.sh
config.log
config.status
config.guess
config.sub
config.h
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

GPATH
GRTAGS
GSYMS
GTAGS


nvxs/CLAPACK/BLAS/xblat1c
nvxs/CLAPACK/BLAS/xblat1d
nvxs/CLAPACK/BLAS/xblat1s
nvxs/CLAPACK/BLAS/xblat1z
nvxs/CLAPACK/BLAS/xblat2c
nvxs/CLAPACK/BLAS/xblat2d
nvxs/CLAPACK/BLAS/xblat2s
nvxs/CLAPACK/BLAS/xblat2z
nvxs/CLAPACK/BLAS/xblat3c
nvxs/CLAPACK/BLAS/xblat3d
nvxs/CLAPACK/BLAS/xblat3s
nvxs/CLAPACK/BLAS/xblat3z
nvxs/CLAPACK/INSTALL/test*
